<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tannerowens.a407_roommate_app">

    <application
        android:name=".RoommateApp"
        android:allowBackup="true"
        android:icon="@drawable/house_image"
        android:label="RoomMate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OurCalendarActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".ScheduleEntryActivity" />
        <activity android:name=".ChoresActivity"
            android:label="RoomMate"/>
        <activity android:name=".UncompletedChoresActivity"
            android:label="RoomMate"/>
        <activity android:name=".AddChoresActivity"
            android:label="RoomMate"/>
        <activity android:name=".MyChoresActivity"
            android:label="RoomMate"/>
        <activity
            android:name=".SignUpActivity"
            android:label="RoomMate"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PickHouseActivity" />
        <activity android:name=".ViewScheduleEntryActivity"></activity>
        android:name=".GlobalChoreList"

        <activity android:name=".AddCalendarEventActivity" />
        <activity android:name=".ViewCalendarEventActivity" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
